.carousel .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .carousel .control-dots .dot:hover, .carousel .control-dots .dot.selected {
    background: #f37021;
  }
  
  .carousel-slide {
    width: 25vw;
    height: 80vh;
  }